extends layout

block head
  script(src='/javascripts/vendor/smartboard-1.0.0.js')
  script(src='/socket.io/socket.io.js')
  != js('client')
  != js('Layer')
block content
  h1= title
  .container
    .row
      .span10(id=holderName)
        #interactionLayer
      #controls.span2
        label(for='userNick') Name:
          input(type='text', id='userNick', name='userNick')
        input(type='button', value='Invite others!', id='sessionInvite')

  script.
    initialPaintSessionID = '#{paintSession}';
    holderName = '#{holderName}';
  != js('init')
