doctype 5
html
  head
    title= title
    script(src='/clientLibs/jquery/jquery.min.js')
    script(src='/clientLibs/lodash/dist/lodash.compat.min.js')
    script(src='/clientLibs/event_emitter/event_emitter.min.js')

    link(rel='stylesheet', href='/clientLibs/bootstrap/docs/assets/css/bootstrap-responsive.css')
    script(src='/clientLibs/bootstrap/docs/assets/js/bootstrap.min.js')

    link(rel='stylesheet', href='/clientLibs/jquery-minicolors/jquery.minicolors.css')
    script(src='/clientLibs/jquery-minicolors/jquery.minicolors.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    block head

  body
    block content