doctype 5
html
  head
    title= title
    script(src='/clientLibs/jquery/jquery.min.js')
    script(src='/clientLibs/lodash/dist/lodash.compat.min.js')

    link(rel='stylesheet', href='/clientLibs/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/clientLibs/bootstrap/docs/assets/css/bootstrap-responsive.css')
    script(src='/clientLibs/bootstrap/docs/assets/js/bootstrap.min.js')

    block head

  body
    block content