doctype 5
html
  head
    title= title
    script(src='/javascripts/vendor/jquery-2.0.2.min.js')
    script(src='/javascripts/vendor/lodash.compat.min.js')

    link(rel='stylesheet', href='/javascripts/vendor/bootstrap/css/bootstrap-responsive.min.css')
    script(src='/javascripts/vendor/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head

  body
    block content